/* color scheme based off of Dark Sunset https://color.adobe.com/Dark-Sunset-color-theme-2629114/ */
/*actual color scheme http://paletton.com/palette.php?uid=30j0u0kqPvKgEHLlR-Evjrvy3ly*/
body {
  color: black;
  background-color: #4279B3;
}

h1  {
  display: inline;
  font-family: 'Amatic SC', cursive;
  vertical-align:top;
  font-size: 90px;
  clear: both;
  padding: 0px;
  margin: 0px;
}

table, td, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

p {
  font-size: small;
}

label {
  display: block;
}

input {
  display: block;
}

form {
  width: 20%;
}
