/* color scheme based off of Dark Sunset https://color.adobe.com/Dark-Sunset-color-theme-2629114/ */
/*actual color scheme http://paletton.com/palette.php?uid=30j0u0kqPvKgEHLlR-Evjrvy3ly*/
body {
  color: black;
  background-color: #FD7129;
}

table, td, th, tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}

p {
  font-size: small;
}

label {
  display: block;
}

input {
  display: block;
}

form {
  width: 20%;
}
