/* color scheme based off of Dark Sunset https://color.adobe.com/Dark-Sunset-color-theme-2629114/ */
/*actual color scheme http://paletton.com/palette.php?uid=30j0u0kqPvKgEHLlR-Evjrvy3ly*/

body {
  background-color: #4279B3;

}

h1  {
  display: inline;
  font-family: 'Amatic SC', cursive;
  vertical-align:top;
  font-size: 90px;
  clear: both;
  padding: 0px;
  margin: 0px;
}

nav {
  clear: both;
  float: right;
  display: inline;
  font-family: 'Covered By Your Grace', cursive;
  padding: 3px;
}

nav li {
  padding-left: 0px;
  padding-right: 15px;
  display: inline;
  margin: 1px;
  font-size: large;
  border-width: 0px;
}

.main {
  /*margin: 100;
  position: relative;*/
  height: 500px;
  background-image: url("../img/campsite-tent-night.jpg");
  background-size: cover;
  background-color: #4279B3;
  /*width: 100%;*/
  color: white;
  margin-bottom: 15px;
}

.two.columns.hide {
  visibility: hidden;
}

.green {
  background-color: #389600;
}

.center {
  text-align: center;
}
